[tower]
172.15.18.14 ansible_user=vagrant ansible_ssh_private_key_file=~/ui1_private_key
172.15.18.15 ansible_user=vagrant ansible_ssh_private_key_file=~/ui2_private_key

[database]
172.15.18.12  ansible_user=vagrant ansible_ssh_private_key_file=~/db_private_key

[all:vars]
admin_password='{{ ansibletower.credentials.admin }}'
ansible_become=true

pg_host='172.15.18.12'
pg_port='{{ ansibletower.postgresql.port }}'

pg_database='{{ ansibletower.postgresql.database }}'
pg_username='{{ ansibletower.postgresql.username }}'
pg_password='{{ ansibletower.credentials.postgresql }}'

rabbitmq_port='{{ ansibletower.rabbitmq.port }}'
rabbitmq_vhost=tower
rabbitmq_username={{ ansibletower.rabbitmq.username }}
rabbitmq_password='{{ ansibletower.credentials.rabbitmq }}'
rabbitmq_cookie={{ ansibletower.rabbitmq.cookie }}
rabbitmq_enable_manager={{ ansibletower.rabbitmq.enable_manager }}

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name={{ ansibletower.rabbitmq.long_name }}
# Needs to remain false if you are using localhost
